@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
  --bg-color: #f1f2f4;
  --pure-white: #ffffff;
  --white: #f7f7f7;
  --serchbar-color: #f0f5ff;
  --text-primary: #121212;
  --text-secondry: #565050;
  --bg-primary: #1b49dd;
  --transition-2s:all .2s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
body {
  background-color: var(--bg-color);
}

i {
  font-size: 1.5rem;
  font-weight: 200;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4.16rem;
  padding: 0 5rem;
  background-color: var(--pure-white);
}

.searchBar {
  background-color: var(--serchbar-color);
  height: 2.66rem;
  border-radius: 0.5rem;
  width: 31.98rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* position: relative; */
}

.searchBar .bx {
  border-radius: 0.5rem 0 0 0.5rem;
  color: var(--text-secondry);
}

.searchBar > input {
  width: 29.18rem;
  height: inherit;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: transparent;
  right: 0;
  border: none;
  outline: none;
}

.searchBar > input::placeholder {
  font-size: 1.1rem;
  color: var(--text-secondry);
}

nav .login {
  width: 6.16rem;
  height: 2.66rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: var(--transition-2s);
  position: relative;
}
nav .login:hover .drop-item{
    display: block;
}
nav .login span {
  font-weight: 500;
}

nav .login:hover {
  background-color: var(--bg-primary);
  color: var(--white);
}
nav .login:hover .bx-chevron-down{
    rotate: 180deg;
}

.dots {
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(255, 255, 255);
  transition:var(--transition-2s);
  position: relative;
}
.dots .cart,
nav .store{
    position: relative;
    transition: transform .3s;
}
nav .cart:hover,
nav .store:hover{
    transform: scale(1.2);
}

.dots:hover {
  --bg-color-dots: rgba(247, 246, 246, 0.729);
  border: 1px solid rgb(236, 232, 232);
  border-radius: 0.5rem;
  background: var(--bg-color-dots);
}

.dots .dropdown {
  appearance: none;
  cursor: pointer;
  --dots-size: 3px;
  display: block;
  height: var(--dots-size);
  aspect-ratio: 1/1;
  background: #000;
  z-index: 1;
  border-radius: 50%;
  position: relative;
}

.dots .dropdown::after,
.dots .dropdown::before {
  content: "";
  height: var(--dots-size);
  aspect-ratio: 1/1;
  background: #000;
  border-radius: 50%;
  position: absolute;
}
.dots .dropdown::before {
  position: absolute;
  top: -7px;
}
.dots .dropdown::after {
  position: absolute;
  top: 7px;
}

.drop-item{
    display: none;
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    padding: .2rem;
    margin: 0;
    background-color:var(--pure-white);
    /* width: 15rem; */
    box-shadow: 0px 3px 10px 2px  rgba(0, 0, 0, 0.267);
    border-radius:0 0 .5rem .5rem;
    border: 1px solid rgba(167, 161, 161, 0.592);
    transition: display 5s;
}
.dots:hover .drop-item{
    display: block;
}
.drop-item li{
    list-style-type: none;
    padding: .5rem;
    margin: .2rem 0;
    position: relative;
    transform:  scale(0.9);
    border-radius: .5rem;
}
.drop-item li:first-child{
    margin-top: 0;
}
.drop-item li:last-child{
    margin-bottom: 0;
}

.drop-item li:hover{
    background-color: #efeaea;
    transform:  scale(1);
}

.drop-item li a{
    color: var(--text-secondry);
    text-decoration: none;
    display: flex;
    font-size: .5rem;
    padding: 0;
    margin: 0;
    height: 100%;

}

.drop-item li a span{
    font-weight: 400;
    letter-spacing: 1px;
    text-wrap: nowrap;
}

.drop-item li .bx{
    font-size: 1.5rem;
    margin-right: .6rem;
}



